<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:fragment="navigation">
    <a class="btn" href="/book">Book</a>
    <a class="btn" href="/category">Category</a>
    <a class="btn" href="/shelf">Shelf</a>
    <a class="btn" href="/user">User</a>
    <a class="btn" href="/role">Role</a>
    <a class="btn" href="/taskUser">TaskUser</a>
    <a class="btn" href="/start/change">Password</a>
    <a class="btn" href="/start">LogOut</a>
</nav>

</body>
</html>