<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>


<nav th:replace="fragments :: navigation"></nav>

<p class="name" th:unless="${categories} and ${categories.size()}">no category :(</p>

<table class="table">

    <tr>
        <th class="name" >Edit</th>
        <th class="name" >Name</th>

    </tr>

    <tr th:each="category : ${categories}">
        <td class="name" >
        <a th:href="'category/edit/' + ${category.id}" th:text="Edit"></a>
        </td>

        <td class="name" >
        <a  th:href="'/book/category?id=' + ${category.id}" th:text="${category.name}"></a>
        </td>
    </tr>
</table>

    <a class="btn"  href="/category/add">Add</a>
    <a class="btn" href="/category/remove">Remove</a>
</body>
</html>
