<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${form}" action="/role/add-item">
    <div class="form-group">
        <label class="name"  th:for="taskUserId">TaskUser</label>
        <select name="taskUserId">
            <option th:each="taskUser : *{taskUsers}"
                    th:text="${taskUser.name}"
                    th:value="${taskUser.id}"></option>
        </select>
    </div>

    <input  class="btn" type="hidden" name="roleId" th:value="*{role.id}" />

    <input class="btn" type="submit" value="Add taskUser" />
</form>

</body>
</html>