<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<table class="table">

    <tr>
        <th class="name" >Edit</th>
        <th class="name" >Name</th>

    </tr>

    <tr th:each="role : ${roles}">

        <td class="name">
            <a  th:href="'role/edit/' + ${role.id}" th:text="Edit"></a>
        </td>

        <td class="name" >
            <a th:href="'role/view/' + ${role.id}" th:text="${role.name}"></a>
        </td>
    </tr>

</table>


<p>

    <a class="btn" href="role/add">Add Role </a>
    <a class="btn" href="role/remove">Remove Role</a>

</p>

</body>
</html>