<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${form}" action="/role/remove-item">
    <div class="form-group">
        <label class="name" th:for="taskUserId">Book</label>
        <select name="taskUserId">
            <option th:each="taskUser : *{taskUsers}"
                    th:text="${taskUser.name}"
                    th:value="${taskUser.id}"></option>
        </select>
    </div>

    <input type="hidden" name="taskUserId" th:value="*{taskUser.id}" />

    <input class="btn" type="submit" value="Remove taskUser" />
</form>

</body>
</html>