<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="role : ${roles}" class="checkbox">
        <input   type="checkbox" name="ids" th:value="${role.id}" th:id="${role.id}"/>
        <label class="name" th:for="${role.id}" th:text="${role.name}"></label>
    </div>

    <input class="btn" type="submit" value="Remove Role" />
</form>

</body>
</html>