<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<ul>
    <li th:each="taskUser: ${taskUsers}" th:text="${taskUser.name}"></li>
</ul>

<p class="name"  th:unless="${taskUsers.size()}"><i>No taskUsers yet</i></p>

<p>
    <a class="btn" th:href="'/role/add-item/' + ${roleId}">Add TaskUsers |</a>
    <a class="btn" th:href="'/role/remove-item/' + ${roleId}">Remove TaskUsers</a>

</p>

</body>
</html>