<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<p th:unless="${taskUsers} and ${taskUsers.size()}">no taskUsers :(</p>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">

    <tr>
        <th class="name" >Edit</th>
        <th class="name" >Name</th>

    </tr>

    <tr th:each="taskUser : ${taskUsers}">
        <td class="name" >
            <a th:href="'taskUser/edit/' + ${taskUser.id}" th:text="Edit"></a>
        </td>

        <td class="name" >
            <p th:text="${taskUser.name}"></p>
        </td>
    </tr>
</table>

<a class="btn" href="/taskUser/add">Add</a>
<a class="btn" href="/taskUser/remove">Remove</a>

</body>
</html>
