<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="taskUser : ${taskUsers}" class="checkbox">
        <input type="checkbox" name="ids" th:value="${taskUser.id}" th:id="${taskUser.id}"/>
        <label th:for="${taskUser.id}" th:text="${taskUser.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove TaskUser" />
</form>

</body>
</html>