<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${form}" action="/shelf/add-item">
    <div class="form-group">
        <label class="name" th:for="bookId">Book</label>
        <select name="bookId">
            <option th:each="book : *{books}"
                    th:text="${book.name}"
                    th:value="${book.id}"></option>
        </select>
    </div>

    <input type="hidden" name="shelfId" th:value="*{shelf.id}" />

    <input class="btn" type="submit" value="Add Shelf" />
</form>

</body>
</html>