<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">

    <tr>
        <th class="name" >Edit</th>
        <th class="name" >Name</th>

    </tr>

    <tr th:each="shelf : ${shelfs}">

        <td class="name" >
            <a th:href="'shelf/edit/' + ${shelf.id}" th:text="Edit"></a>
        </td>

        <td class="name" >
        <a th:href="'shelf/view/' + ${shelf.id}" th:text="${shelf.name}"></a>
        </td>
    </tr>

</table>


<p>

<a class="btn"  href="shelf/add">Add Shelf</a>
<a class="btn"  href="shelf/remove">Remove Shelf</a>

</p>

</body>
</html>