<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="shelf : ${shelfs}" class="checkbox">
        <input type="checkbox" name="ids" th:value="${shelf.id}" th:id="${shelf.id}"/>
        <label class="name"  th:for="${shelf.id}" th:text="${shelf.name}"></label>
        <br />
    </div>

    <input class="btn"  type="submit" value="Remove Shelf" />
</form>

</body>
</html>