<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<ul>
    <li class="name" th:each="book : ${books}" th:text="${book.name}"></li>
</ul>

<p class="name"  th:unless="${books.size()}"><i>No books yet</i></p>

<p>
    <a class="btn" th:href="'/shelf/add-item/' + ${shelfId}">Add Book</a>
    <a class="btn" th:href="'/shelf/remove-item/' + ${shelfId}">Remove Book</a>

</p>

</body>
</html>