<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class = "container">
<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">
    <tr>
        <th class="name">Edit</th>
        <th class="name">Name</th>
        <th class="name">Author</th>
        <th class="name">Year</th>
        <th class="name">Description</th>
        <th class="name">Category</th>
    </tr>

    <tr th:each="book: ${books}">
        <td  class="name"><a th:href="'book/edit/' + ${book.id}" th:text="Edit"></a></td>
        <td class="name" th:text="${book.name}"></td>
        <td class="name" th:text="${book.author}"></td>
        <td class="name" th:text="${book.year}"></td>
        <td class="name" th:text="${book.description}"></td>
        <td class="name" th:text="${book.category.name}"></td>
    </tr>

</table>

<p  class="name" th:unless="${books} and ${books.size()}">no book :(</p>

<a class="btn" href="/book/add">Add</a>
<a class="btn" href="/book/remove">Remove</a>



</body>
</html>