<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="book : ${books}" class="checkbox">
        <input type="checkbox" name="ids" th:value="${book.id}" th:id="${book.id}"/>
        <label  class="name" th:for="${book.id}" th:text="${book.name}"></label>
        <br />
    </div>

    <input class="btn"  type="submit" value="Remove Book" />
</form>

</body>
</html>