<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label class="name" th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label class="name" th:for="email">Author</label>
        <input class="form-control" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>

    <div class="form-group">
        <label class="name" th:for="type">Role</label>
        <select name="roleId">
            <option th:each="role : ${roles}"
                    th:text="${role.name}"
                    th:value="${role.id}"
                    th:selected="${role.id == user.role.id}"></option>
        </select>
    </div>

    <input class="btn" type="submit" value="Edit User" />
</form>

</body>
</html>