<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class = "container">
<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${users} and ${users.size()}">no user :(</p>

<table class="table">

    <tr>
        <th class="name" >Edit</th>
        <th class="name" >Name</th>
        <th class="name" >Email</th>
        <th class="name" >Role</th>

    </tr>

    <tr th:each="user: ${users}">
        <td class="name" ><a th:href="'user/edit/' + ${user.id}" th:text="Edit"></a></td>
        <td class="name" th:text="${user.name}"></td>
        <td class="name" th:text="${user.email}"></td>
        <td class="name" th:text="${user.role.name}"></td>
    </tr>

</table>

<a class="btn" href="/user/add">Add</a>
<a class="btn" href="/user/remove">Remove</a>



</body>
</html>