<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="Title" th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="user : ${users}" class="checkbox">
        <input type="checkbox" name="ids"  th:value="${user.id}" th:id="${user.id}"/>
        <label class="name" th:for="${user.id}" th:text="${user.name}"></label>
        <br />
    </div>

    <input class="btn" type="submit" value="Remove User" />
</form>

</body>
</html>